<h1>index page for all graphs</h1><br>
<% @graphs.each do |graph| %>

<%= graph.title %><br>
<b>Author: </b><%= link_to "#{graph.user.first_name} #{graph.user.last_name}", user_path(graph.user.slug) %><br>
<%= link_to "Read More", graph_path(graph.id) %>
<% end %>
