<div class="container">
  <div class="row wht-bk blk-font">
    <div class="col s12">
      <h4>ALL<span class="text-prim-color"> GRAPHS</span></h4>
      <hr>
      <% @graphs.each do |graph| %>
      <div class="row">
        <div class="col s12">
          <h5><%= graph.title.upcase %></h5>
        </div>
      </div>
      <div class="row">
          <%= render partial: "shared/graph_show_content", locals: {graph: graph}%>
      </div>
      <hr>
      <% end %>
    </div>
  </div>
</div>
