<% content_for :head do %>
  <style>
    nav {
      background-color: transparent;
      box-shadow: none;
    }
    body {
      background-color: #111111;
    }
  </style>
<% end %>

<div class="container-header">
  <div class="text-header text-white">
    <h4>WEB DEVELOPMENT CAREER VISUALIZATIONS</h4>
    <P>Provided by us, customized by you</p>
  </div>
</div>
<div class="container">
  
</div>






<br>
<br>
