/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
@import "materialize";
@import "materialize/extras/nouislider";

body {
  font-family: 'Raleway', sans-serif;
  background-color: #282828;
  color: #EFF9F0;
}
p {
  font-family: 'Raleway', sans-serif;
}
a {
  color: #E4572E;
  font-family: 'Raleway', sans-serif;
}
a:hover {
  color: #DA9F93;
}
nav {
  background-color: #111111;
}
h3 {
  letter-spacing: 5px;
  font-family: Oswald, sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}
h4 {
  letter-spacing: 5px;
  font-family: Oswald, sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}
h5 {
  letter-spacing: 2px;
  font-family: Oswald, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
h6 {
  letter-spacing: 5px;
  font-family: Oswald, sans-serif;
}
.formA {
  width: 800px;
  margin: 0 auto;
  text-align: left;
}
.formA label{
  margin: 10px 20px;
}
.graph_container {
  left:250px;
  height: calc(100vh - 100px);
  width: calc(100vw - 300px);
  position: absolute;
}
.graph {
  height:100%;
  width:100%;
}
.dropdown-content li {
  font-size: 12px;
}
.left_nav_form {
  padding-left: 15px;
  font-size: 12px;
  position: absolute;
  width: 250px;
}
.select-dropdown{
  font-size: 12px;
}
.select-dropdown .active {
  font-size: 10px;
}
input.select-dropdown {
  margin: 0 !important;
  padding: 0;
}
.error{
  font-size: 20px;
  color: red;
  text-align: center;
}
// with fixed navbar ensuring that the side panel shows up on click on mobile
#sidenav-overlay {
  z-index: 996
}
.btn {
  background-color: #616163;
}
.btn:hover {
  background-color: #DA9F93;
}
.btn-floating {
  background-color: transparent;
  box-shadow: none;
}
.btn-floating:hover {
  background-color: transparent;
  box-shadow: none;
}
.text-white {
  color: #EFF9F0;
}
.text-hcenter {
  text-align: center;
}
.text-prim-color {
  color: #DA9F93;
}
.text-title-bold {
  font-size: 1.5em;
  font-weight: bolder;
  letter-spacing: normal;
}
.text-subtitle-bold {
  line-height: 90%;
  margin-top: 0;
  letter-spacing: 2px;;
}
.modal {
  background-color: #282828;
}
.flashmessage {
  border-style: solid;
  border-color: black;
  background-color: rgba(255, 0, 0, 0.2);
  font-size: 120%;
  text-align: center;
  margin-top: 2%;
  padding: 2%
}
.prof-button-row {
  margin-bottom: 0;
}
.subheader {
  font-size: 20px;
}
.test {
  position: relative;
}
