// Place all the styles related to the graphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wht-bk {
  background-color: #EFF9F0;
  box-shadow: 10px 10px 15px 5px black;
}
.blk-font {
  color: #282828;
}
