// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#leftCol {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    padding: 1em;
}
#rightCol {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
    padding: 1em;
    height: 88vh;
}
.row-user-page {
  position: relative;
}
.col-prof {
  height: 90vh;
}
.outside-container-prof {
  height: 100%;
  padding: 10px;
  background-color: #111111;
}
.inside-container-prof {
  height: 100%;
}
.outside-container-data {
  padding: 10px;
  background-color: #111111;
}
.background-photo {
  width: 100%;
  background: image-url("prof-geometric_01.jpg") center center no-repeat;
  background-size: 100% 100%;
  padding: 5%;
  position: relative;
}
.circle {
  width: 100%;
}
.prof-title {
  line-height: 98% !important;
}
.prof-btn-edit {
  position: absolute;
  bottom: 0;
  right: 0;
}
.prof-title-graph {
  position: relative;
  display: inline;
  float: left;
}
.btn-inline {
  display: inline;
  float: right;
}
