<h5 class="text-prim-color">MANAGER</h5>
<p>In support of these responsibilities, the Web Manager should demonstrate a high degree of competence, knowledge and expertise in the following areas: Web operations, including publishing, analytics, technical monitoring, etc. Online development, including planning, design, content, technology & publicity.
</p>
