<h5 class="text-prim-color">UX DESIGNER</h5>
<p>A UX researcher is the champion of a user's needs. The goal of a researcher is to answer the twin questions of “Who are our users?” and “What do our users want?” Typically, this role entails interviewing users, researching market data, and gathering findings. Design is a process of constant iteration.
</p>
